{% extends "base.html" %} 
{% block title %}Add AutoParts Center{% endblock %} 
{% block contentTitle %}Add New AutoParts Center{% endblock %}
{% block content %}
<div class="contentCard">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                {{ message }}
            </div>
            <div class="card-body">
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.Name.label }} {{ form.Name }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.Phone.label }} {{ form.Phone }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form.Address.label }} {{ form.Address }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            {{ form.PostalCode.label }} {{ form.PostalCode }}
                        </div>
                        <div class="form-group col-md-5">
                            {{ form.Mail.label }} {{ form.Mail }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form.Supervisor.label }} {{ form.Supervisor }}
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center align-items-center btn-group">
                        <a href="{% url 'boner_view' %}" class="btn btn-info">Return</a>
                        <button type="submit" class="btn btn-primary">Save Center</button>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}