{% extends "base.html" %} 
{% block title %}Center's Detail{% endblock %} 
{% block contentTitle %}{{ object.Name }}{% endblock %}
{% block content %}    
<div class="contentCard">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-body">
                <p><b>Name: </b> {{ object.Name }}</p>
                <p><b>Phone: </b>{{ object.Phone }}</p>
                <p> <b>Address: </b>{{ object.Address }}</p>
                <p><b>PostalCode: </b>{{ object.PostalCode }}</p>
                <p><b>Mail: </b>{{ object.Mail }}</p>
                <p> <b>Supervisor: </b>{{ object.Supervisor }}</p>
                <hr>
                 <div class="d-flex justify-content-center align-items-center btn-group">
                    <a href="{% url 'boner_view' %}" class="btn btn-info">Return</a>
                  
                  {% if user.is_authenticated %}  
                    {% if user.is_superuser or user.is_staff%}
                      <a href="{% url 'bonerEdit_view' object.Id %}" class="btn btn-primary">Edit</a>
                      <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Delete</button>

                    {% endif %} 
                  {% endif %} 
                </div>
            </div>
        </div>
    </div>
</div>   

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete&nbsp;<b>{{object.Name}}</b>?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
      <form method="POST" action="{% url 'bonerDelete_view' object.Id %}">
        {% csrf_token %}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Return</button>
          <button type="submit" class="btn btn-danger">Delete</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}