{% extends "base.html" %} 
{% block title %}AutoParts Center's Info{% endblock %} 
{% block contentTitle %}AutoParts Center's Lists{% endblock %}
{% block content %}

<div class="container">
{% if user.is_authenticated %}
    {% if user.is_superuser or user.is_staff%}
        <div>
            <a class="btn btn-primary" href="Create/">Add new Center</a>
        </div>
    {% endif%}
{% endif%}
</br>
<div class="table-responsive">
    <table class="table table-striped" id="BonerTable">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Supervisor</th>
        </tr>
    </thead>
    <tbody>
        {% for boner in boners_list %}
        <tr>
        <th><a href="{% url 'bonerDetail_view' boner.Id %}">{{boner.Name}}</a></th>
        <td>{{boner.Phone}}</td>
        <td>{{boner.Address}}</td>
        <td>{{boner.Supervisor}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
</div>

{% endblock %}