{% extends "base.html" %} 
{% block title %}LogIn{% endblock %} 
{% block content %}


{% load crispy_forms_tags %}

<div class="LoginContainer">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center" id="LoginIcon"><i class="far fa-user fa-6x"></i></h5>
                </br>
                <div>
                    <form method="POST">
                    {% csrf_token %}
                    {{form | crispy}}                           
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}