{% extends "base.html" %} 
{% block title %}Register new user{% endblock %} 
{% block content %}

{% load crispy_forms_tags %}

<div class="LoginContainer">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center" id="LoginIcon"><i class="far fa-user fa-6x"></i></h5>
                </br>
                <div>
                    <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{form.username.label }}  {{form.username }}   
                        </div>
                    </div>  
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{form.first_name.label }} {{form.first_name }}  
                        </div>
                        <div class="form-group col-md-6">
                            {{form.last_name.label }} {{form.last_name }}  
                        </div>
                    </div>  
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{form.address.label }} {{form.address }}  
                        </div>
                        <div class="form-group col-md-6">
                            {{form.phone.label }} {{form.phone }}  
                        </div>
                    </div>  
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{form.email.label }} {{form.email }}  
                        </div>
                    </div>  
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{form.password1.label }} {{form.password1 }}  
                        </div>
                        <div class="form-group col-md-6">
                            {{form.password2.label }} {{form.password2 }}  
                        </div>
                    </div>        
                    <div class="form-row" hidden>                        
                        {{form.is_client.label }}     
                        {{form.is_client }}    
                        
                        {{form.is_active.label }}     
                        {{form.is_active }}  
                    </div>           
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}