/* COMMON STYLES */

.btn-primary {
    background-color: #FF3273;
    border-color: #FF3273;
    border-radius: 2px;
}

.btn-primary:hover {
    background-color: #FF518D;
    border-color: #FF518D;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #FF518D;
    border-color: #FF518D;
}

body {
    background-color: #F8FCF8;
}

.btn,
.contentCard {
    border-radius: 2px;
}

.btnEdit,
.btnDelete {
    color: purple;
}


/* LOGIN STYLES */

.LoginContainer {
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#LoginIcon {
    color: #FF3273;
}

.LoginContainer .card {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.imgMainBanner {
    height: 750px;
    overflow: hidden;
}

.imgMainBanner img {
    top: -300px;
    width: 100%;
    filter: grayscale(70);
}