{% extends "base.html" %}
{% block title %}LogIn{% endblock %}
{% block content %}
    <div class="container">
{{prueba}}
        <div class="row">            
            <div class="col col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped" id="BonerTable">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Added by</th>
                                <th scope="col">Item</th>
                                <th scope="col">Model</th>
                                <th scope="col">Color</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Center</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sale in Sales_list %}
                                <tr>
                                    <td>{{sale.detail}}</td>
                                    <td>{{sale.IdCar}}</td>
                                    <td>{{sale.IdCar.Model}}</td>
                                    <td>{{sale.IdCar.Color}}</td>
                                    <td>{{sale.Quantity}}</td>
                                    <td>{{sale.IdCar.Boner}}</td>
                                    <td class="text-center">
                                        <a href="{% url 'increase_view' sale.Id %}" class="text-success"><i class="fas fa-plus-square"></i></a>&nbsp;&nbsp;
                                        <a href="{% url 'decrease_view' sale.Id %}" class="text-warning"><i class="fas fa-minus-square"></i></a>&nbsp;&nbsp;
                                        <a href="{% url 'delete_view' sale.Id %}" class="text-danger"><i class="fas fa-trash"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}