{% extends "base.html" %} 
{% block title %}Add Auto Part{% endblock %} 
{% block contentTitle %}Add New Auto Part{% endblock %}
{% block content %}

{% load crispy_forms_tags %}
<div class="contentCard">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                {{ message }}
            </div>
            <div class="card-body">
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    {{form | crispy}}
                    <hr>
                    <div class="d-flex justify-content-center align-items-center btn-group">
                        <a href="{% url 'client_view' %}" class="btn btn-info">Return</a>
                        <button type="submit" class="btn btn-primary">Save Boner</button>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}