{% extends "base.html" %} 
{% block title %}Edit Auto Part{% endblock %} 
{% block contentTitle %}Edit Auto Part{% endblock %}
{% block content %}
<div class="contentCard">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                {{ message }}
            </div>
            <div class="card-body">
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.Name.label }} {{ form.Name }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.Model.label }} {{ form.Model }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form.Year.label }} {{ form.Year }}
                        </div>
                        <div class="form-group col-md-12">
                            {{ form.Color.label }} {{ form.Color }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form.Stock.label }} {{ form.Stock }}
                        </div>
                        <div class="form-group col-md-12">
                            {{ form.Boner.label }} {{ form.Boner }}
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center align-items-center btn-group">
                        <a href="{% url 'carParts_view' %}" class="btn btn-info">Return</a>
                        <button type="submit" class="btn btn-primary">Save Part</button>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}