{% extends "base.html" %} 
{% block title %}Auto Part's Info{% endblock %} 
{% block contentTitle %}Auto Part's Lists{% endblock %}
{% block content %}

<div class="container">
{% if user.is_authenticated %}  
    {% if user.is_admin or user.is_employee%}  
        <div>
            <a class="btn btn-primary" href="Create/">Add new Auto Part</a>
        </div>
    {% endif %}
{% endif %}
</br>
<div class="table-responsive">
    <table class="table table-striped" id="BonerTable">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Model</th>
        <th scope="col">Color</th>
        <th scope="col">Stock</th>
        <th scope="col">Center</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for carPart in carParts_list %}
        <tr>
        <th><a href="{% url 'carPartsDetail_view' carPart.Id %}">{{carPart.Name}}</a></th>
        <td>{{carPart.Model}}</td>
        <td>{{carPart.Color}}</td>
        <td>{{carPart.Stock}}</td>
        <td>{{carPart.Boner}}</td>
        <td><a href="{% url 'addCart_view' carPart.Id %}" class="text-success"><i class="fas fa-cart-plus"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
</div>
{% endblock %}