{% extends "base.html" %} 
{% block title %}Confirm Delete{% endblock %} 
{% block contentTitle %}{{ object.Name }}{% endblock %}
{% block content %}    
<div class="contentCard">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card">
        <div class="card-title">
            <h3> Delete this item? </h3>
        </div>
            <div class="card-body">
                <p><b>Name: </b> {{ object.Name }}</p>
                <p><b>Phone: </b>{{ object.Phone }}</p>
                <p> <b>Address: </b>{{ object.Address }}</p>
                <p><b>PostalCode: </b>{{ object.PostalCode }}</p>
                <p><b>Mail: </b>{{ object.Mail }}</p>
                <p> <b>Supervisor: </b>{{ object.Supervisor }}</p>
                <hr>
                 <div class="d-flex justify-content-center align-items-center btn-group">
                    <a href="{% url 'boner_view' %}" class="btn btn-info">Return</a>
                    <a href="{% url 'bonerDelete_view' object.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>       
{% endblock %}