{% extends "base.html" %} 
{% block title %}Edit Client{% endblock %} 
{% block contentTitle %}Edit Client {% endblock %}
{% block content %}
<div class="contentCard">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                {{ message }}
            </div>
            <div class="card-body">
                <form method="POST" class="form-group">
                    {% csrf_token %}   
                    <div class="form-group col-md-6" hidden>
                            {{ form.is_client.label }} {{ form.is_client }}
                            {{ form.username.label }} {{ form.username }}
                        </div>                     
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.first_name.label }} {{ form.first_name }}
                        </div>
                        <div class="form-group col-md-5">
                            {{ form.last_name.label }} {{ form.last_name }}
                        </div>
                        <div class="form-group col-md-1">
                            {{ form.is_active.label }} {{ form.is_active }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.phone.label }} {{ form.phone }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.email.label }} {{ form.email }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form.address.label }} {{ form.address }}
                        </div>
                    </div>
                    <div class="form-row">
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center align-items-center btn-group">
                        <a href="{% url 'client_view' %}" class="btn btn-info">Return</a>
                        <button type="submit" class="btn btn-primary">Save Client</button>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}