{% extends "base.html" %} 
{% block title %}Clients's Info{% endblock %} 
{% block contentTitle %}Clients's Lists{% endblock %}
{% block content %}
<div class="container">
{% if user.is_authenticated %}  
    {% if user.is_superuser or user.is_staff%}
        <div>
            <a class="btn btn-primary" href="Create/">Add new Client</a>
        </div>
    {% endif %}
{% endif %}
</br>
<div class="table-responsive">
    <table class="table table-striped" id="BonerTable">
    <thead class="thead-dark">
        <tr>
        
        <th scope="col">Mail</th>
        <th scope="col">Codigo de usuario</th>
        <!-- <th scope="col">Activo</th> -->
        </tr>
    </thead>
    <tbody>
        {% for client in clients_list %}
        <tr>
        <th><a href="{% url 'clientDetail_view' client.id %}">{{client.email}}</a></th>
        <td>{{client.username}}</td>
        <!-- <td>{{client.is_active}}</td> -->
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
</div>
{% endblock %}