{% extends "base.html" %} 
{% block title %}Employee's Detail{% endblock %} 
{% block contentTitle %}{{ object.first_name }}{% endblock %}
{% block content %}    
<div class="contentCard">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-body">
                <p><b>First Name: </b> {{ object.first_name }}</p>
                <p><b>Last Name: </b> {{ object.first_name }}</p>
                <p><b>Username: </b> {{ object.username }}</p>
                <p><b>Phone: </b>{{ object.phone }}</p>
                <p> <b>Address: </b>{{ object.address }}</p>
                <p><b>Mail: </b>{{ object.email }}</p>
                <hr>
                 <div class="d-flex justify-content-center align-items-center btn-group">
                    <a href="{% url 'employee_view' %}" class="btn btn-info">Return</a>

                  {% if user.is_authenticated %}  
                    {% if user.is_superuser or user.is_staff %}
                      <a href="{% url 'employeeEdit_view' object.id %}" class="btn btn-primary">Edit</a>
                      <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Delete</button>                  
                    {% endif %}                
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>   

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete&nbsp;<b>{{object.Name}}</b>?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
      <form method="POST" action="{% url 'employeeDelete_view' object.id %}">
        {% csrf_token %}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Return</button>
        <button type="submit" class="btn btn-danger">Delete</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}