{% extends "base.html" %} 
{% block title %}Employee Info{% endblock %} 
{% block contentTitle %}Employee Info{% endblock %}
{% block content %}

{% load crispy_forms_tags %}
<div class="contentCard">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                {{ message }}
            </div>
            <div class="card-body">
                <form method="POST" class="form-group">
                    {% csrf_token %}

                    <div class="form-row" hidden>
                        <div class="form-group col-md-12">
                            {{ form.is_active.label }} {{ form.is_active }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form.username.label }} {{ form.username }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.first_name.label }} {{ form.first_name }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.last_name.label }} {{ form.last_name }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form.phone.label }} {{ form.phone }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form.address.label }} {{ form.address }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form.email.label }} {{ form.email }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form.is_employee.label }} {{ form.is_employee }}
                        </div>                        
                        {% if user.is_authenticated %}  
                            {% if user.is_superuser %}
                                <div class="form-group col-md-4">
                                    {{ form.is_client.label }} {{ form.is_client }}
                                </div>     
                                <div class="form-group col-md-4">
                                    {{ form.is_admin.label }} {{ form.is_admin }}
                                </div>  
                            {% endif %}
                        {% endif %}
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center align-items-center btn-group">
                        <a href="{% url 'employee_view' %}" class="btn btn-info">Return</a>
                        <button type="submit" class="btn btn-primary">Save Employee</button>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}