{% extends "base.html" %} 
{% block title %}Employee's Info{% endblock %} 
{% block contentTitle %}Employee's Lists{% endblock %}
{% block content %}

<div class="container">
{% if user.is_authenticated %}  
    {% if user.is_superuser or  user.is_staff  %}
          <div>
            <a class="btn btn-primary" href="Create/">Add new Employee</a>
        </div>
    {% endif %}
{% endif %}
</br>
<div class="table-responsive">
    <table class="table table-striped" id="BonerTable">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Mail</th>
        <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees_list %}
        <tr>
        <th><a href="{% url 'employeeDetail_view' employee.id %}">{{employee.first_name}}&nbsp;{{employee.last_name}}</a></th>
        <td>{{employee.phone}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.address}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
</div>
{% endblock %}