{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link
            href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}"
            rel="stylesheet">
        <link href="{% static 'static/main.css' %}" rel="stylesheet">
        <link href="{% static 'DataTables/datatables.min.css' %}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/5b15488ff0.js" crossorigin="anonymous"></script>
        <title>AutoPick Employee Managment|
            {% block title %}{% endblock %}
        </title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'empleadosindex_view' %}">Autopick Employee Managment</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container text-center">
                    <ul class="navbar-nav d-flex justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'boner_view' %}">Centers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'client_view' %}">Clients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employee_view' %}">Employees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'dashboard:index' %}">Panel de Admnistracion</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="{% url 'carParts_view' %}">Car Parts</a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="{% url 'sales_view' %}">Sale</a>
                        </li> -->
                    </ul>
                </div>

                {% if user.is_authenticated %}
                    <ul class="navbar-nav d-flex justify-content-center">
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdownMenuLink"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                Welcome back,&nbsp;<b>{{user}}<b/>
                                </a>
                                <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{% url 'logout_view' %}">Log out</a>
                                </div>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav d-flex justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login_view' %}"><i class="fas fa-sign-in-alt"></i>&nbsp;Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register_view' %}"><i class="fas fa-user-plus"></i>&nbsp;Register</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </nav>
        </br>
        <div class="container-fluid">
            <div clas="ContentTitle">
                <h1 class="text-center">
                    {% block contentTitle %}{% endblock %}
                </h1>
                <hr>
            </br>
        </div>
    </div>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
</body>
<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
<script
    type="text/javascript"
    src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
<script
    type="text/javascript"
    src="{% static 'DataTables/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'static/main.js' %}"></script>
<script>
$( document ).ready(function() {
    if(window.location.pathname === '/'){
        $('.container-fluid')[0].remove();
        $('.container-fluid').removeClass('container-fluid');
    }
    if(window.location.pathname === '/register/'){
        $('#id_is_active')[0].checked =true;
        $('#id_is_client')[0].checked =true;
    }
    if(window.location.pathname === '/Client/Create/'){
        $('#id_is_active')[0].checked =true;
        $('#id_is_client')[0].checked =true;
    }
    if(window.location.pathname.substring(0,window.location.pathname.length - 2) === '/Client/Edit'){
        $('#id_is_client')[0].checked =true;
    }
    if(window.location.pathname.substring(0,window.location.pathname.length - 2) === '/Employee/Edit'){
        $('#id_is_active')[0].checked =true;
    }
});
</script>
</html>